body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  background: #333;
  width: 100%;
  height: 100%;
}

#exportContainer {
  background-color: #333; /* Use the same background color as #main */
  padding: 10px;
}

#exportButton {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
